#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons__container {
  display: flex;
  gap: 1rem;
}
.icons__container > article {
  width: 20rem;
  padding: 1rem;
  height: 15rem;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icons__container > article > img {
  object-fit: cover;
  width: 10rem;
}
.icons__container > article:nth-child(1),
.icons__container > article:nth-child(5) {
  background-color: transparent;
  transform: scale(0.4);
  cursor: pointer;
  opacity: 0.4;
  transition: 0.5s ease-in-out;
}
.icons__container > article:nth-child(1):hover,
.icons__container > article:nth-child(5):hover {
  transform: scale(0.6);
}
.icons__container > article:nth-child(2),
.icons__container > article:nth-child(4) {
  background-color: transparent;
  transform: scale(0.6);
  cursor: pointer;
  opacity: 0.6;
  transition: 0.5s ease-in-out;
}
.icons__container > article:nth-child(2):hover,
.icons__container > article:nth-child(4):hover {
  transform: scale(0.8);
}
.icons__container > article > span {
  font-size: x-large;
  font-weight: bold;
}
.arrow-container {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.arrow-container > img {
  width: 2rem;
  object-fit: cover;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  #skills {
    width: 100vw;
  }
  .icons__container {
    gap: 0;
    width: 100%;
  }
  .icons__container > article {
    flex: 1;
    width: auto;
    padding: 0;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .icons__container > article:nth-child(1),
  .icons__container > article:nth-child(5) {
    display: none;
  }
  .icons__container > article > img {
    width: 100%;
  }
}
