header {
  min-height: 100vh;
  height: auto;
  padding-top: 7rem;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.linked {
  animation: socials 2.5s ease-in;
}
.github {
  animation: socials 2s ease-in;
}
.yutu {
  animation: socials 1.5s ease-in;
}
.insta {
  animation: socials 1s ease-in;
}
@keyframes socials {
  0% {
    transform: translateY(-90vh);
  }
  95% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.header__socials a:hover {
  transform: scale(1.2);
  transition: var(--transition);
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: auto;
  margin: 4rem auto;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.foto {
  transition: 1s ease-in-out;
}
.foto:hover {
  transform: translateY(-20px) scale(1.1);
}

.scroll__down {
  transform: rotate(90deg);
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  font-weight: 300;
  font-size: 0.9rem;
}
.scroll__down:hover {
  animation: animation-scroll 1s infinite ease-out;
}
@keyframes animation-scroll {
  0% {
  }
  50% {
    transform: translateY(-20px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 1rem;
    min-height: auto;
  }
}
@media screen and (max-width: 600px) {
  .header__socials,
  .scroll__down {
    display: none;
  }
  .me {
    width: auto;
  }
}
.hvr-rectangle-out {
  width: max-content;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--color-primary);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-primary);
  border: 1px solid white;
  border-radius: 0.4rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover,
.hvr-rectangle-out:focus {
  color: white;
}
.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}
